
<div class="p-5">
  <h1>Stupid Coaching</h1>
  <p>Ask you coach anything:</p>
  <div class="col-2">
    <form action="/answer" data-turbo="false" class="input-group mb-3">
      <input type="text" name="question" value="<%= params[:question] %>" class="form-control">
      <input type="submit" value="Ask" class="btn btn-primary">
    </form>
  </div>
</div>
